# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django-specific files
db.sqlite3
/media/
*.log

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore virtual environment
venv/
env/

# Ignore dependencies
node_modules/
